[submodule "Crawler"]
	path = Crawler
	url = git@github.com:cpbuckingham/ambar-crawler.git
[submodule "MongoDB"]
	path = MongoDB
	url = git@github.com:cpbuckingham/ambar-mongodb.git
[submodule "ElasticSearch"]
	path = ElasticSearch
	url = git@github.com:cpbuckingham/ambar-es.git
[submodule "Install"]
	path = Install
	url = git@github.com:cpbuckingham/ambar-install.git
[submodule "FrontEnd"]
	path = FrontEnd
	url = git@github.com:cpbuckingham/ambar-frontend.git
[submodule "Rabbit"]
	path = Rabbit
	url = git@github.com:cpbuckingham/ambar-rabbit.git
[submodule "Proxy"]
	path = Proxy
	url = git@github.com:cpbuckingham/ambar-proxy.git
